@CHARSET "UTF-8";

#container {
	width: 1366px;
	height: 768px;
	background-color: green;
	border-style: solid;
}

#box {
	width: 1000px;
	height: 675px;
	background-color: green;
	overflow: scroll;
	margin-top: 20px;
	margin-right: 180px;
	margin-left: 180px;
	background-color: blue;
	float: center;
}

#text {
	width: 1000px;
	height: 675px;
	background-color: green;
	overflow: scroll;
	margin-top: 20px;
	margin-right: 180px;
	margin-left: 180px;
	background-color: blue;
	float: center;
}